<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/image/weather.png">        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Kimin Lee. It is uses data from mapbox.com and darksky</p>
            <img class = "portrait"src = "/image/11368483903_7c89d81712_b.png">
            {{>footer}}
        </div>
    </body>
</html>