<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/image/weather.png">        
    </head>
    <body>
        <div class="main-contatiner">
            {{>header}}
            {{>footer}}
        </div>
    </body>
</html>